<p-panel [styleClass]="'custom-panel'">
    <ng-template pTemplate="header">
      <header style="display: flex; justify-content: space-around; align-items: center; width: 100%;">
        <div>

        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div > 
            <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" style="color: #2F80ED;" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
            </svg>
          </div>
  
          <div class="input-group mb-3" style="width: 700px; margin-left:30px; margin-top:15px">
            <input [(ngModel)]="newValue" class="form-control" type="text" placeholder="What do you want to find out?" >
            <div class="input-group-append">
              <button  (click)="onSubmit()" type="button" class="btn btn-outline-secondary" style="width: 150px; ;background-color: #2F80ED; color: white;">Search</button>
            </div>
          </div>
  
          <div style="display: flex; justify-content: center; align-items: center; width: 33px; height: 33px; background-color: #2F80ED; box-shadow: 2px 0px 4px 0px #2F80ED; border-radius: 5px; margin-left: 20px;">
            
            <div style="display: flex; flex-direction: column;">
                <div style="width: 20px; height: 2px; background-color: #FFFFFF; margin: 2px 0;"></div>
                <div style="width: 20px; height: 2px; background-color: #FFFFFF; margin: 2px 0;"></div>
                <div style="width: 20px; height: 2px; background-color: #FFFFFF; margin: 2px 0;"></div>
            </div>
          
          </div>
        </div>
  
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <p style="margin-right: 10px; color: #4F4F4F; font-size: 18px; margin-top: 10px;">Your Name</p>
            </div>
         
          <div style="display: flex; justify-content:center; align-items: center; width: 33px; height: 33px; background-color: #2F80ED; box-shadow: 2px 0px 4px 0px #2F80ED; border-radius: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="color: #FFFFFF;" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </div>
        </div>
      </header>
    </ng-template>
  </p-panel>
  