<div style="width: 100%; display: flex; justify-content: center; background-color:  #E5E5E5;">
    <nav class="navbar navbar-expand-lg navbar-light"  >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <span style="color:  #929292; font-size:16px" class="navbar-brand" >Sorting by:</span>
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active" style="margin-left:20px">
               <a  href="#">date </a>
             </li>
             <li class="nav-item active" style="margin-left:20px">
               <a href="#">count of views</a>
             </li>
           </ul>
           <span class="navbar-brand" style="color: #2F80ED; font-size: 16px; margin-left:20px">by word or sentance</span>
           <form class="form-inline my-1 my-lg-0 "[style]="'width:300px'">
             <input class="form-control mr-sm-2" type="search" sty placeholder="" aria-label="Search">
           </form>
         </div>
       </nav>
</div>